
/*
 * Mixcloud.com Vertical Playlist
 */

.up-next-area.react-up-next.up-next-open {
  position: fixed !important;
  bottom: 50px !important;
  left: 65% !important;
  right: 15px !important;
  height: 90% !important;
  white-space: normal !important;
  overflow-y: auto !important;
}
.up-next-area.react-up-next.up-next-open .cloudcast-row.cloudcast-upnext-row { width: 100% !important; }

/*
 * End of Mixcloud.com Vertical Playlist
 */
